.errorFormPagarReserva {
	display: none;
	font-size: 12px;
}

.errorFormBuscarVuelos {
	display: none;
	font-size: 12px;
}

.error_form_reservar {
	display: none;
	font-size: 12px;
}

.navbar-estilo {
	margin-top: 20px;
}

body {
	background-image: url('../imgs/bg-home.jpg');
	background-repeat: repeat-x;
	background-position: center top;
}

.carousel {
	margin-bottom: 20px;
}

.help-block {
	font-size: 12px;
}

/* Estilo para Logo Avion en menu */
.navbar-brand{margin-top:-10px}

/* Estilo para Administrador */
.navbar-nav li{margin-top:-44px}

/* Achica el grosor de los botones de movimiento del carousel */
.carousel-control{width:5%}

.centrar-navbar{
	margin-top: 6px;
}

.carousel {
	margin-bottom: 0px;
}

.thumbnail {
	margin-top: 20px;	
}

.help-block-reservas {
	color: black;
}

table {
	background-color: white;
}

/* Estilos para que el footer quede abajo de todo siempre */

html, body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;

	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.footer {
height: 60px;
padding: 20px 0px;
/*margin-top: 20px; no aplicar margin*/
color: #999;
text-align: center;
border-top: 1px solid #E5E5E5;
}

